/* Reset or global styles that don't interfere with Bootstrap */
#root {
  width: 100%;
  margin: 0;
  padding: 0;
}

.transition-all {
  transition: all 0.3s ease-in-out;
}

/* Custom scrollbar for better look */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #bbb;
}
